<div class="wrapper-box p-relative ">
    <div class="breadcrumb__bg breadcrumb__bg__overlay pt-130 pb-130 " data-background="assets/images/breadcrumb/breadcrumb-bg-1.jpg" style="background-image: url(&quot;assets/images/breadcrumb/breadcrumb-bg-1.jpg&quot;);">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1 text-center">
                   <div class="breadcrumb__list mb-10">
                      <span><a [routerLink]="['home']">Home </a></span>
                      <span class="dvdr"> / </span>
                      <span class="sub-page-black"> Contact Us</span>
                   </div>
                   <h3 class="breadcrumb__title mb-20">Contact</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>


<div class="tp-insurance-area pt-110 pb-120 p-relative fix pb-70" data-background="assets/images/quote/bg.jpg" style="background-image: url(&quot;assets/images/quote/bg.jpg&quot;);">
    <div class="tp-insurance-right-img">
       <img src="assets/images/quote/right-bg.html" alt="">
    </div>
    <div class="tp-insurance-innar">
       <div class="container">
          <div class="row align-items-center">
             <div class="col-md-12">
                <div class="tp-insurance-section-box mb-50">
                   <h3 class="tp-section-title">Get in touch with us</h3>
                </div>
                <div class="tab-content mr-50" id="nav-tabContent">
                   <div class="tab-pane fade active show" id="saudi" role="tabpanel" aria-labelledby="nav-Home-tab" tabindex="0">
                      <div class="tp-contact-form-wrapper">
                         <div class="contactform">
                            <div class="row">
                               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                  <div class="contact__wrap">
                                     <div class="contact__info-item d-flex align-items-start mb-35">
                                        <div class="contact__info-icon">
                                           <i class="flaticon-phone-call-1"></i>
                                        </div>
                                        <div class="contact__info-text">
                                           <h4>+966 34491358</h4>
                                        </div>
                                     </div>
                                     <div class="contact__info-item d-flex align-items-start mb-35">
                                        <div class="contact__info-icon">
                                           <i class="flaticon-email"></i>
                                        </div>
                                        <div class="contact__info-text">
                                           <h4>info&#64;sbs.sa</h4>
                                        </div>
                                     </div>
                                     <div class="contact__info-item d-flex align-items-start">
                                        <div class="contact__info-icon">
                                           <i class="flaticon-location-1"></i>
                                        </div>
                                        <div class="contact__info-text">
                                           <h4>SBS Company<br>
                                             Dammam Khobar Road
                                              Saudi Arabia</h4>
                                        </div>
                                     </div>
                                     <div class="contact__social pt-30">
                                        <div class="icon">
                                           <ul>
                                              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                              <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                           </ul>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                                  <!-- 2 -->
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                     <div class="map-area">
                                        <div class="tpmap-wrapper">
                                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14944280.62722007!2d34.41875123425591!3d23.87166907340387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e7b33fe7952a41%3A0x5960504bc21ab69b!2sSaudi%20Arabia!5e0!3m2!1sen!2sbh!4v1703744440098!5m2!1sen!2sbh" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- close -->
                            </div>
                         </div>
                      </div>
                   </div>

                   <!-- form-start -->
                   <div class="contact__form-wrap mt-50">
                      <div class="tp-form-box">
                         <span class="tp-form-subtitle right">contact us</span>
                         <h2 class="tp-form-title mb-30 mt-10">
                            Write an email
                         </h2>
                      </div>
                      <div class="contact__input">
                         <input class="w-100" type="text" placeholder="Enter name" name="name" required="">
                      </div>
                      <div class="contact__input">
                         <input class="w-100" type="email" placeholder="Email address" name="email" required="">
                      </div>
                      <div class="contact__input">
                         <input class="w-100" type="text" placeholder="Phone number" name="number" required="">
                      </div>
                      <div class="contact_text">
                         <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>

                      <div class="contact__button mt-25">
                         <button class="tp-btn-3" type="submit">SEND A MESSAGE</button>
                      </div>
                   </div>
                   <!-- form-close -->
                </div>
             </div>
          </div>
       </div>
    </div>

 </div>