<div class="wrapper-box p-relative ">
    <div class="breadcrumb__bg breadcrumb__bg__overlay pt-130 pb-130 " data-background="assets/images/breadcrumb/breadcrumb-bg-1.jpg" style="background-image: url(&quot;assets/images/breadcrumb/breadcrumb-bg-1.jpg&quot;);">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1 text-center">
                   <div class="breadcrumb__list mb-10">
                      <span><a [routerLink]="['home']">Home </a></span>
                      <span class="dvdr"> / </span>
                      <span class="sub-page-black">About</span>
                   </div>
                   <h3 class="breadcrumb__title mb-20">Who We Are</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

   <!-- About area start -->
   <div class="tp-about-area pt-120 pb-90">
      <div class="container">
         <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10">
               <div class="tp-about__wapper mb-30 p-relative">
                  <div class="tp-about-before"></div>
                  <div class="tp-about__main-img">
                     <img class="ab-1st-img" src="assets/images/about/about-img.jpg" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-12 ">
               <div class="tp-about__wrap ml-85">
                  <div class="tp-about__title-box">
                     <div class="tp-section-subtitle mb-10">KNOW ABOUT SBS</div>
                     <h2 class="tp-section-title mb-20">Who We Are</h2>
                     <p class="tp-section-pre mb-30">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam quod, asperiores quas possimus laborum provident dolores cumque deserunt perspiciatis nisi iusto veniam quisquam exercitationem optio, blanditiis dicta ex, minus aperiam?
                     </p>
                     <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, perspiciatis? Magni voluptate consectetur sapiente voluptatem distinctio, sed blanditiis vel. Alias est provident vel amet quod laborum eum harum nam dolores.
                     </p>
                  </div>
               </div>
  
            </div>
         </div>
      </div>
   </div>
   <!-- About area end -->

 <div class="history-sec tp-cta-4 pt-120  fix p-relative pb-120" data-background="assets/images/history/history.jpg" style="background-image: url(&quot;assets/images/history/history.jpg&quot;);">
    <div class="tp-cta-4__shap"></div>
    <div class="tp-cta-shap">
       <img src="assets/images/about/shap1.png" alt="">
    </div>
    <div class="container">
       <div class="row">
          <div class="col-12">
             <div class="tp-cta-4__wrap">
                <div class="tp-cta-4__wrap text-center">
                   <h2 class="tp-cta-title mb-30">CHAIRMAN MESSAGE</h2>
                   <p class="tp-section-pre pb-50 text-white w-75 m-auto">
                    As the Chairman of SBS, it is my privilege and honor to address you today. Our journey has been marked by a relentless commitment to excellence, innovation, and a shared vision for a brighter future. I want to take this moment to reflect on our accomplishments and articulate our vision for the future.
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="tpchoose-3__area grey-bg-1 fix pt-180 pb-120 p-relative">
   <div class="tpchoose-3__right-bg">
      <img src="assets/img/choose/choose-right-bg.png" alt="">
   </div>
   <div class="tpchoose-3__shap p-relative"></div>
   <div class="container">
      <div class="row">
         <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
            <div class="tpchoose-3-wrap p-relative">
               <div class="tpchoose-3__thumb">
                  <div class="tpchoose-3__right ml-70 p-relative">
                     <img class="w-100" src="assets/images/about/choose-img-right.jpg" alt="">
                  </div>
                  <div class="tpchoose-3__before"></div>
               </div>
            </div>
         </div>
         <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
            <div class="tpchoose-3__wrap ml-70">
               <div class="tp-section-box text-start mb-30">
                  <div class="tp-section-subtitle mb-10">Goal</div>
                  <h2 class="tp-section-title mb-10">PURPOSE, MISSION, VISION, AND VALUES</h2>
                  <p class="tp-section-pre">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                     Risus commodo viverra maecenas labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                     Risus</p>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>