   <!-- pre loader area start -->
   <div id="loading">
    <div id="loading-center">
       <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
       </div>
    </div>
 </div>
 <!-- pre loader area end -->
<div id="pgid-1105" class="en home">
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>
