<app-banner></app-banner>
<section class="our-numbers">
    <div class="container">
        <div class="row">
            <div class="col our-strength">
                <h2 class="gradient-heading">OUR STRENGHTS</h2>
                <p class="sub-para">
                    At SBS our strengths are the pillars that uphold our success and drive us toward
                    excellence. We take pride in these qualities that set us apart and define who we are
                </p>
                <ul class="our-numbers__box">
                    <li class="our-numbers__box-li">
                        <div class="our-numbers__icon">
                            <img src="assets/images/media/customers/1.png" alt="User">
                        </div>
                        <h2 class="our-numbers__heading">
                            <span class="count" data-count="40"></span> YEARS
                        </h2>
                        <p class="our-numbers__text">
                            EXPERIENCE
                        </p>
                    </li>
                    <li class="our-numbers__box-li">
                        <div class="our-numbers__icon">
                            <img src="assets/images/media/customers/2.png" alt="User">
                        </div>
                        <h2 class="our-numbers__heading">
                            <span class="count" data-count="5"></span> INDUSTRIES
                        </h2>
                        <p class="our-numbers__text">
                            SECTORS
                        </p>
                    </li>
                    <li class="our-numbers__box-li">
                        <div class="our-numbers__icon">
                            <img src="assets/images/media/customers/3.png" alt="User">
                        </div>
                        <h2 class="our-numbers__heading">
                            <span class="count" data-count="3"></span> COUNTRIES 
                        </h2>
                        <p class="our-numbers__text">
                            GLOBAL PRESENCES
                        </p>
                    </li>
                </ul>
                <ul class="our-numbers__box">
                    <li class="our-numbers__box-li">
                        <div class="our-numbers__icon">
                            <img src="assets/images/media/customers/4.png" alt="User">
                        </div>
                        <h2 class="our-numbers__heading count" data-count="5000"></h2>
                        <p class="our-numbers__text">
                            EMPLOYEES
                        </p>
                    </li>
                    <li class="our-numbers__box-li">
                        <div class="our-numbers__icon">
                            <img src="assets/images/media/customers/5.png" alt="User">
                        </div>
                        <h2 class="our-numbers__heading count" data-count="10000"></h2>
                        <p class="our-numbers__text">
                            HAPPY CUSTOMERS
                        </p>
                    </li>
                    <li class="our-numbers__box-li">
                        <div class="our-numbers__icon">
                            <img src="assets/images/media/customers/6.png" alt="User">
                        </div>
                        <h2 class="our-numbers__heading">
                            <span class="count" data-count="3"></span> COMPANIES 
                        </h2>
                        <p class="our-numbers__text">
                            JOINT VENTURES
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="promo__wrapper promo__wrapper--v2">
    <div class="container">
        <div class="promo">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="promo__heading">
                        <h1>Chairman Message</h1>
                        <h2>
                            As the Chairman of SBS, it is my privilege and honor
                            to address you today. Our journey has been
                            marked by a relentless commitment to excellence,
                            innovation, and a shared vision for a brighter
                            future. I want to take this moment to reflect on our
                            accomplishments and articulate our vision for the
                            future.
                        </h2>

                        <a class="btn-primary" href="#" target="_self">
                            Company profile
                        </a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="promo__image">
                        <img src="assets/images/media/chairman.png" alt="Chairman">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="portfolio-sec">
    <div class="container-fluid p-0 portfolio-slider-container">
        <div class="swiper-container  mega-project sector-heading">
            <h2 class="gradient-heading">SECTORS WE SERVE</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="0.7s"
                data-wow-delay="0.3s" data-wow-offset="0">
                <!-- Portfolio Left to Right Owl Carousel Start -->
                <div class="owl-carousel portfolio-carousel porfolio-carousel-lr" draggable="true">
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/1.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>AEROSPACE TECHNOLOGY</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/2.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>CONTRACTING</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/3.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>INDUSTRIAL ENERGY</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/4.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>COMESTIBLE</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/5.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>REAL ESTATE</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Portfolio Left to Right Owl Carousel End -->
                <!-- Portfolio Right to Left Owl Carousel Start -->
                <div class="owl-carousel portfolio-carousel porfolio-carousel-rl" draggable="true">
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/6.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>OTHERS</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/7.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>CONTRACTING</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/8.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>REAL ESTATE</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/9.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>AEROSPACE TECHNOLOGY</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="portfolio-slider-items">
                                <img class="portfolio-slider-image" src="assets/images/sectors/10.jpg">
                                <div class="portfolio-overlay"></div>
                                <div class="portfolio-overlay-img"><img
                                        src="assets/images/sectors/porfolio-overlay-img.png"></div>
                                <div class="portfolio-produts-title">
                                    <h4>INDUSTRIAL ENERGY</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Portfolio Right to Left Owl Carousel End -->
            </div>
        </div>
    </div>
</section>

<section class="our-sectors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Swiper -->
                <div class="swiper-container our-sectors__carousel mega-project">
                    <h2 class="gradient-heading">MEGA PROJECTS</h2>
                    <p class="sub-para">Projects we are a part of in
                        Kingdom of SaudiArabia</p>

                    <div class="swiper-wrapper" data-custom-autoplay="10000">
                        <div class="swiper-slide">
                            <div class="our-sectors__sector-box">
                                <h3>NEOM</h3>
                                <div class="image">
                                    <img src="assets/images/media/project/project1.jpg" alt="">
                                </div>
                                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                                    print, graphic or web designs. The passage is attributed to an unknown
                                    typesetter in the 15th century who is thought to have scrambled parts of
                                    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It
                                    usually begins with</p>

                                <a class=btn-secondary href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-sectors__sector-box">
                                <h3>Diriyah Gate</h3>

                                <div class="image">
                                    <img src="assets/images/media/project/project2.jpg" alt="">
                                </div>
                                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                                    print, graphic or web designs. The passage is attributed to an unknown
                                    typesetter in the 15th century who is thought to have scrambled parts of
                                    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It
                                    usually begins with</p>

                                <a class=btn-secondary href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-sectors__sector-box">
                                <h3>ROYAL COMMISSION RIYADH</h3>

                                <div class="image">
                                    <img src="assets/images/media/project/project3.jpg" alt="">
                                </div>
                                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                                    print, graphic or web designs. The passage is attributed to an unknown
                                    typesetter in the 15th century who is thought to have scrambled parts of
                                    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It
                                    usually begins with</p>

                                <a class=btn-secondary href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-sectors__sector-box">
                                <h3>KING SALMAN PARK</h3>

                                <div class="image">
                                    <img src="assets/images/media/project/project4.jpg" alt="">
                                </div>
                                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                                    print, graphic or web designs. The passage is attributed to an unknown
                                    typesetter in the 15th century who is thought to have scrambled parts of
                                    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It
                                    usually begins with</p>

                                <a class=btn-secondary href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Add Arrows-->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>